.description {
  margin-top: 150px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;

  .border {
    width: 60%;
    height: 1px;
    margin: auto;
    background-color: black;
  }

  .description-title {
  }

  .description-text {
    width: 60%;
    margin: auto;
    padding: 50px;
    font-size: 1.7em;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.6em;
  }
      .description-text-highlight {

      }

}
